$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
//@import "form-reset.css";

$mainColor: #333;
$text: white;
$textLight: #b4b4b4;

* {
  box-sizing: border-box;
}

html {
  font-size: 9px;
}

body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  position: relative;
  color: $text;
  overflow: hidden;
  background-color: $mainColor;
  margin: 0;
}

// Scrollbars
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}

.history-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  font-size: 30px !important;
  flex-direction: column;
  background-color: $mainColor;

  .search-input {
    word-break: break-all;
    border-bottom: 1px solid $textLight;
    font-size: 16px;
    padding: 0 3px 8px 8px;
    min-height: 23px;
    user-select: none;
    margin: 13px 0 0;

    &.placeholder {
      color: $textLight;
    }
  }

  .history-element {
    color: $text;
    max-height: 300px;
    min-height: 44px;
    overflow: hidden;
    padding: 11px 8px 7px;
    font-size: 15px;
    position: relative;
    user-select: none;
    cursor: default;

    .date {
      position: absolute;
      right: 3px;
      top: 0;
      color: darken(lighten($text, 0.9), 20%);
      font-size: 13px;
    }

    &.active {
      background-color: $text;
      color: $mainColor;

      .date {
        color: lighten($mainColor, 20%);
      }
    }
  }
}
